# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite3

# Django
*.log
staticfiles/
media/
db.sqlite3

# VSCode
.vscode/

# macOS
.DS_Store

# Docker
*.pid
*.seed
*.bak
*.swp
docker-compose.override.yml

# Test/coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# CI/CD
logs/
*.tar.gz

# Misc
*.env
.env.*
.idea/
*.iml